./venv/
./.venv/
./__pycache__/
./instance/
instance/
*.pyc

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan

.DS_Store
.vscode/
